.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: rgba(0, 0, 0, 0);
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s; }

.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 0px 0px 0px 200px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: border-width 0.3s, background-color 0.3s; }

.bt-overlay {
  position: absolute;
  width: 100%; }

.bt-menu-open .bt-overlay {
  height: 100%; }

.bt-menu-trigger {
  position: fixed;
  top: 15px;
  left: 20px;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer; }

.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background-color: #c0392b;
  user-select: none;
  transition: background-color 0.3s; }

.bt-menu-open .bt-menu-trigger span {
  background-color: transparent; }

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c0392b;
  content: '';
  transition: transform 0.3s; }

.bt-menu-trigger span:before {
  transform: translateY(-250%); }

.bt-menu-trigger span:after {
  transform: translateY(250%); }

.bt-menu-open .bt-menu-trigger span:before {
  transform: translateY(0) rotate(45deg); }

.bt-menu-open .bt-menu-trigger span:after {
  transform: translateY(0) rotate(-45deg); }

.bt-menu ul {
  position: fixed;
  top: 75px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
  backface-visibility: hidden; }

.bt-menu ul li,
.bt-menu ul li a {
  font-size: 26px;
  display: block;
  width: 100%;
  text-align: center;
  color: #c0392b; }

.bt-menu ul li {
  padding: 16px 0;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s; }

.bt-menu ul li:first-child {
  transform: translate3d(-100%, 200%, 0); }

.bt-menu ul li:nth-child(2) {
  transform: translate3d(-100%, 100%, 0); }

.bt-menu ul li:nth-child(3) {
  transform: translate3d(-100%, 0, 0); }

.bt-menu ul li:nth-child(4) {
  transform: translate3d(-100%, -100%, 0); }

.bt-menu ul li:nth-child(5) {
  transform: translate3d(-100%, -200%, 0); }

.bt-menu.bt-menu-open ul li {
  visibility: visible;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, 0, 0); }

.bt-menu ul li a {
  display: block;
  outline: none;
  text-decoration: none; }

.bt-menu ul li a:before {
  color: #04a466;
  font-size: 48px;
  transition: color 0.2s; }

.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
  color: #fff; }
